div#message!= messages()

#posts
    h3= title
    - each post in posts
      div.item
        a(href='/posts/' + post._id)
            div.item-head
                div.title= post.title
                div.date= post.date.toDateString()
            div.body!= post.body
