h1= title
h2
    a(href="/new/") New
h3= title
#articles
    - each article in articles
      div.article
        div.created_at= article.created_at
        div.title 
            a(href=article._id)!= article.title
        div.body= article.body