h1= title
h2
    a(href="/new/") New
h3= title
#posts
    - each post in posts
      div.post
        div.created_at= post.date
        div.title 
            a(href='/posts/' + post._id)!= post.title
        div.body= post.body